* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Gotham", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
.App {
  /* text-align: center;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

body {
  /* color: #797979; */
  background: #ffffff;
  font-family: "Gotham-Medium";
  /* letter-spacing: .1rem; */
}

a:hover,
a:active,
a:focus {
  color: #d5b981;
  outline: none;
  text-decoration: none;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
  position: absolute;
  width: 100%;
  /* top: 60px; */
  padding: 2px 15px;
  background: rgba(255, 0, 0, 0.6) !important;
  z-index: 9;
}

/* .navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
} */

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  /* font-size: 45px; */
  line-height: 0px;
  /* font-weight: 600; */
}

.navbar .navbar-brand img {
  /* max-width: 100%; */
  max-height: 25px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  /* padding: 10px 10px 8px 10px; */
  color: #ffffff;
}

.nav-item {
  font-size: 13px !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  /* background: rgba(256, 256, 256, .1); */
  /* transition: none; */
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

/********* End Nav Bar *********/

/* Banner */

.banner {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  /* margin-left: 20px; */
  margin-top: -100px;
}
.banner img {
    width: 100vw;
    position: absolute;
}
.banner .title {
  font-size: 6em;
  font-weight: lighter;
  color: #ed2e46;
  margin-top: 180px;
  margin-bottom: 140px;
}
.banner .title span {
  font-weight: 550;
  color: #432c46;
}
.banner .banner-contact {
  margin-top: 60px;
  margin-bottom: 100px;
}
.banner p {
  font-size: 3.7em;
  line-height: 55px;
  color: #432c46;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 40px;
}
.banner button {
  width: 24rem;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 16px;
  background-color: #432c46;
  border: none;
}
.banner button a {
  color: white;
}

/* Info */

.info {
  text-align: center;
  padding: 20px 180px;
  margin-bottom: 50px;
  background-image: linear-gradient(to bottom, white 30%, #8080801e);
}

.info p {
  margin-bottom: 0;
}

.info .title {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 900;
  color: #432c46;
  /* letter-spacing: .2rem; */
}

.info .subtitle {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ed2e46;
}

.info .description {
  padding-top: 20px;
  font-size: 1em;
  color: #808080;
}

/*  ABOUT CSS */

.about {
  padding: 0px 75px;
  margin-bottom: 3em;
}
.about .grid-obs {
  margin-top: -15px;
}
.about .title {
  margin-right: 20px;
}
.about .title p:nth-child(1) {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 900;
  color: #ed2e46;
  margin-top: 60px;
  line-height: 46px;
  font-family: "Gotham Black";
}
.about .description {
  padding-top: 0px;
  font-size: 1.1em;
  color: #333;
  font-family: "Gotham";
  opacity: 0.8;
}
.about .section-header,
.about .form-call {
  margin-left: 30px;
}
.about .section-header p {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  color: #432c46;
  margin-top: 20px;
}

.about .form-call input {
  padding: 8px 250px 8px 8px;
  border: 1px solid gray;
  opacity: 0.8;
  margin-top: 5px;
  font-family: "Gotham";
}
.about .form-call a img {
  width: 50px;
  margin-left: 10px;
}
/*  END CSS ABOUT */

/* START SESSION 6 */
.container .benefits {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-benefits .title {
  text-align: center;
  font-size: 52px;
  line-height: 52px;
  color: #ed2e46;
  margin-bottom: 1.4em;
  font-family: "Gotham Black";
}
.card-benefits a {
  display: flex;
  justify-content: center;
  margin: 30px auto 60px;
  width: 30vw;
  padding: 15px;
  background-color: #432c46;
  color: white;
  font-weight: bold;
  border-radius: 16px;
}
.container .row {
  margin-bottom: 20px;
}
.container .benefit h4 {
  font-size: 16px;
  color: #ed2e46;
}
.container .benefit p {
  opacity: 0.6;
}
/* END SESSION 6 */

/* SESSION 7 */
.bussiness-items {
  margin-bottom: 80px;
}
.col-sm:nth-child(4) {
  margin-bottom: 80px;
}
.bussiness-items h3 {
  margin-bottom: 30px;
  font-size: 46px;
  color: #ed2e46;
  margin-top: 30px;
}
.bussiness-items img {
  width: 60px;
}
.bussiness-items h4 {
  font-size: 16px;
  margin-top: 5px;
  color: #ed2e46;
}
.bussiness-items p {
  margin: 20px 15vw;
}
.bussiness-items a {
  padding: 15px 60px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 16px;
  background-color: #432c46;
  color: white;
  border: none;
}
/* END SESSION 7 */

/* SESSION 8 */
.carousel {
  margin-bottom: 80px;
}
.carousel h1 {
  text-align: center;
  margin-top: 40px;
  color: #432c46;
  margin-bottom: -50px;
  top: 0;
  left: 0;
}
.carousel-inner {
  background-color: whitesmoke;
  color: black !important;
  height: 75vh;
  display: inline;
}
.carousel-item {
  margin-bottom: 60px;
}
.carousel-item .texto {
  font-size: 22px;
  color: black;
  text-align: center;
  margin: 100px 250px 200px;
  opacity: 0.6;
}
.carousel-item h5 {
  color: #ed2e46;
}
.carousel-item .person {
  display: flex;
  justify-content: center;
  margin-bottom: -40px;
}
.carousel-item .person img:nth-child(1) {
  position: relative;
  margin-left: -40px;
  margin-right: 10px;
  top: 0;
  left: 0;
}
.carousel-item .person img:nth-child(2) {
  position: absolute;
  top: 26px;
  right: 540px;
  border-radius: 50%;
}
.carousel-item .carousel-caption p {
  opacity: 0.5;
}
.arousel-control-next-icon,
.arousel-control-prev-icon {
  border-radius: 50%;
}
#carouselExampleCaptions {
  color: black !important;
}
/* SESSION FOOTER */
.card-deck,
.card {
  background-color: #432c46;
  color: white;
  border: none;
  width: 100vw;
}
.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.card-body a {
  display: flex;
  color: white;
}
.card-body p {
  margin-top: 20px;
  font-size: 12px;
}
/* Responsive CSS */

@media (max-width: 768px) {
  .navbar {
    /* padding: 2px 15px; */
    /* background: #1d2434 !important; */
  }

  .banner {
    padding: 0px 15px;
  }

  .info {
    padding: 20px 15px;
  }

  .info .title {
    font-size: 1em;
  }

  .info .subtitle {
    font-size: 0.7em;
  }

  .info .description {
    font-size: 0.5em;
  }

  /* .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    } */
}

@media (min-width: 769px) {
  .info {
    padding: 20px 15px;
  }

  .info .title {
    font-size: 2.5em;
  }

  .info .subtitle {
    font-size: 1.5em;
  }

  .info .description {
    font-size: 1em;
  }
}

@media (min-width: 1115px) {
  .navbar {
    padding: 4px 60px;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    /* background: #1d2434 !important; */
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .banner {
    min-height: 900px;
    padding: 0px 75px;
  }
  .info .description {
    padding-top: 20px;
    font-size: 1em;
    color: #808080;
  }

  .info {
    padding: 20px 150px;
  }

  .info .title {
    font-size: 3.5em;
  }

  .info .subtitle {
    font-size: 2em;
  }

  .info .description {
    font-size: 1.5em;
  }
}

/* END */
